.first{
    width: 200px;
    height: 200px;
    background-color:greenyellow;
    margin-top: 20px;
    margin-left: 20px;
    margin-bottom: 0px;
    margin: 50px;
    border-radius: 500px;
    box-shadow: 4px 4px 105px rgba(0,0,0,0.5);
}
.second{
    height: 200px;
    width: 300px;
    background-color: red;
}